*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.login-box .card.card-outline {
    border-top: 3px solid #FF62E9;
}

.login-box .card .card-body .btn {
    background-color: #FF62E9;
    border-color: #FF62E9;
}

#pannel-home .main-pannel{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10em;
    width: 100%;
    max-width:400px;
    margin: 0 auto;
    background-color: #0C026B;
    border-radius: 50px 5px 50px 5px;
    align-items: center;
    color: #fff;
}

#pannel-home .main-pannel > img{
    width: 100%;
    max-width:90px;
    margin: 20px auto;
}

#pannel-blog .couter-articles{
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0px 0px;
}

#pannel-blog .couter-articles > b{
    width: 30px;
    text-align: center;
    border-bottom: 1px solid #0C026B;
}

#pannel-blog main > div a:hover{
    color:#FF62E9;
}

#pannel-blog main > div a .title-card{
    font-size: 18px;
    color: #0C026B;
    font-weight: 700;
}

#pannel-blog main > div a .card-body{
    font-size: 14px;
    color: #191919;
    font-weight: 400; 
}

#pannel-blog main .card-header span.active,
#pannel-service .card-header span.active{
    width: 100%;
    max-width: 147px;
    text-align: end;
}

#pannel-blog-show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 920px;
    margin:  auto;
}

#pannel-blog-show > aside,
#pannel-blog-show > section {
    width: 100%;
    max-width: 920px;
    text-align: start;
    padding-top: 10px;
}

#pannel-blog-show > section {
    margin-bottom: 100px;
}

#pannel-blog-show section .box-shadow {
    box-shadow: 0px 0px 23px ;
    margin-bottom: 7.4rem;
    font-size: 1.6rem;
    color: rgb(25, 25, 25, 0.6);
    background-color: #FFF;
}

#pannel-blog-show section .box-shadow header.image {
    margin-bottom: 25px;
    overflow-x: hidden;
}

#pannel-blog-show section .box-shadow header.image img{
    width: 100%;
    max-height: 460px;
}

#pannel-blog-show section .box-shadow .title-article h1 {
    font-size: 32px;
    font-weight: 700;
    color: #0C026B;
}

#pannel-blog-show section .box-shadow .info-article span{
    margin-right: 35px;
    font-size: 14px;
    color: rgba(25, 25, 25, 0.6);
 }
 
 #pannel-blog-show section .box-shadow .info-article img{
    max-width:  20px;
    margin-bottom: 2px;
 }

#pannel-blog-show section .box-shadow .fullText {
    font-size: 15px;
    font-weight: 400;
}

#pannel-blog-edit .form-group.title,
#pannel-service-edit .form-group.title {
    padding-top:1rem;
    max-width: 300px;
}

#pannel-blog-edit .form-group.image .input-group,
#pannel-service-edit .form-group.image .input-group{
    max-width: 540px;
    margin-top: 10px;
}

#pannel-blog-edit .form-group.image .thumb,
#pannel-service-edit .form-group.image .thumb{
    max-width:350px;
    overflow: hidden;
}

#pannel-blog-edit .form-group.image .thumb img {
    width: 350px;
}

#pannel-blog-edit .form-group.tags #title-img,
#pannel-service-edit .form-group.tags #title-img {
    max-width: 300px;
}

#pannel-blog-edit .form-group.tags .label-title-image,
#pannel-service-edit .form-group.tags .label-title-image {
    margin-top:1rem;
}

#pannel-blog-edit .form-group.description textarea,
#pannel-service-edit .form-group.description textarea {
    height: 45px;

}

#pannel-blog-edit .form-group.author #author,
#pannel-service-edit .form-group.phone #phone {
    max-width: 300px;
}

#pannel-blog-edit .form-control.active,
#pannel-service-edit .form-control.active {
    max-width: 2%;
    margin-left: 20px;
}

#pannel-blog-edit form,
#pannel-service-edit form{
    padding-bottom: 50px;
}

#pannel-service aside{
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0px 0px;
}

#pannel-service aside > b{
    width: 30px;
    text-align: center;
    border-bottom: 1px solid #0C026B;
}

#pannel-service div a:hover{
    color:#FF62E9;
}

#pannel-service div a div .image-service{
    display: flex;
    justify-content: center;
}

#pannel-service div a div .card-title-service{
    font-size: 18px;
    color: #0C026B;
    font-weight: 700;
}

#pannel-service div a div .description{
    font-size: 14px;
    color: #191919;
    font-weight: 400; 
}

#pannel-service-edit .form-group.image .thumb{
    margin-bottom: 0.5rem;
}

#pannel-service-edit .form-group.image .thumb img{
    max-width: 71px;
}

#profile-page > h1,
#profile-admin > h1{
    margin: auto;
    padding-top: 40px;
    text-align:center;
    color: #0C026B;
}

#profile-page .container,
#profile-admin .container{
    margin: auto;
    padding-top: 80px;
    text-align:center;
}

#profile-page .container .inputs-profile .profile-data,
#profile-page .container .inputs-profile .profile-buttons{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile-page .container .inputs-profile .profile-data input,
#profile-page .container .inputs-profile .profile-buttons button,
#profile-admin .container .inputs-profile .profile-data input{
    width: 100%;
    max-width: 300px;
}

#profile-page .container .inputs-profile .profile-data input,
#profile-admin .container .inputs-profile .profile-data input{
    margin-bottom: 20px;
    height: 35px;
    padding-top:3px;
    padding-left: 15px;
    font-size:13px ;
    color: #2C2858;
    border:1px solid  #0C026B;
    border-radius: 5px;
    outline: none;
}

#profile-page .container .inputs-profile .profile-buttons .btn{
    width: 100%;
    max-width: 300px;
    color: #FFF;
    background-color: #0C026B;
}

#profile-page .container .btn.save{
    width: 100%;
    max-width: 845px;
    margin-top: 30px;
    color: #FFF;
    background-color: #FF62E9;
}

#profile-admin .container .btn.save{
    width: 100%;
    max-width: 605px;
    margin-top: 20px;
    color: #FFF;
    background-color: #FF62E9;
}

#profile-admin .container{
    margin: auto;
    padding-top: 100px;
    text-align:center;
}