*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.login-box .card.card-outline {
    border-top: 3px solid #FF62E9;
}

.login-box .card .card-body .btn {
    background-color: #FF62E9;
    border-color: #FF62E9;
}

#pannel-home .main-pannel{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10em;
    width: 100%;
    max-width:400px;
    margin: 0 auto;
    background-color: #0C026B;
    border-radius: 50px 5px 50px 5px;
    align-items: center;
    color: #fff;
}

#pannel-home .main-pannel > img{
    width: 100%;
    max-width:90px;
    margin: 20px auto;
}

#pannel-blog .couter-articles{
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0px 0px;
}

#pannel-blog .couter-articles > b{
    width: 30px;
    text-align: center;
    border-bottom: 1px solid #0C026B;
}

#pannel-blog main > div a:hover{
    color:#FF62E9;
}

#pannel-blog main > div a .title-card{
    font-size: 18px;
    color: #0C026B;
    font-weight: 700;
}

#pannel-blog main > div a .card-body{
    font-size: 14px;
    color: #191919;
    font-weight: 400; 
}

#pannel-blog-show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 920px;
    margin:  auto;
}

#pannel-blog-show > aside,
#pannel-blog-show > section {
    width: 100%;
    max-width: 920px;
    text-align: end;
    align-items: 10px;
    padding-top: 10px;
}

#pannel-blog-show > section {
    margin-bottom: 100px;
}

#pannel-blog-show section .box-shadow {
    box-shadow: 0px 0px 23px ;
}

#pannel-blog-show section .box-shadow header.image {
    margin-bottom: 25px;
    overflow-x: hidden;
}

#pannel-blog-show section .box-shadow header.image img{
    max-width: 920px;
    max-height: 575px;
}

#pannel-blog-show section .box-shadow .title-article h1 {
    font-weight: 700;
}

#pannel-blog-show section .box-shadow .info-article h2 {
    font-size: 17px;
    font-weight: 400;
}

#pannel-blog-show section .box-shadow .fullText {
    font-size: 15px;
    font-weight: 400;
}

.profile-page .container{
    margin: auto;
    text-align:center;
}

.profile-page .container .profile-image{
    margin-bottom: 25px;
}

.profile-page .container .profile-image img{
    width:160px;
    height: 160px;
    background-color: #2C2858;
    border-radius: 100%;
    overflow:hidden;
    cursor: pointer;
}

.profile-page .container .inputs-profile .profile-data,
.profile-page .container .inputs-profile .profile-buttons{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.profile-page .container .inputs-profile .profile-data input,
.profile-page .container .inputs-profile .profile-buttons button{
    width: 100%;
    max-width: 300px;
}

.profile-page .container .inputs-profile .profile-data input{
    margin-bottom: 20px;
    height: 35px;
    padding-top:3px;
    padding-left: 15px;
    font-size:13px ;
    color: #2C2858;
    border:1px solid  #36CDC2;
    border-radius: 5px;
    outline: none;
}

.profile-page .container .inputs-profile .profile-buttons button{
    margin-top: 15px;
    margin-bottom: 10px;
}