*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    overflow-x: hidden;
    margin: auto;
}

.whatsapp{
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    cursor: pointer;
    z-index: 5;
}

.whatsapp img{
    width: 100%;
    max-width:5rem;
}

header{
    margin: 5rem 0 10rem 0rem;
}

header #mobile,
header #mobile #submenu,
header .icon-mobile{
    display: none;
}

header img{
    max-width: 8rem;
}

header,
header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header ul li{
    margin-right: 3rem;
    text-align: center;
}

header ul li:hover{
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #FF62E9;
}

header ul li:first-child{
    margin-left: 5rem;
}

header ul li a{
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    color: #FFF;
}

#blog,
#about,
#first{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60rem;
}

#first{
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: -1;
}

#first aside img,
#contact aside img,
#article aside img,
#blogs aside img{
    max-height: 100vh;
    margin-left: -0.5rem;
    margin-right: -1rem;
}

#first .middle,
#contact .middle,
#article .middle,
#blogs .middle{
    width: 100%;
    height: 100%;
    max-width: 100.5rem;
    margin-left: 0.82rem;
    margin-right: 0.55rem;
    padding-left: 1rem;
    background-color: #0C026B;
}

#first .middle .container,
#contact .middle .container,
#article .middle .container,
#blogs .middle .container{
    width: 100%;
    max-width: 41rem;
    margin: auto;
    text-align: center;
}

#first .middle .container .infos > h1,
#contact .middle .container > h1,
#article .middle .container > h1,
#blogs .middle .container > h1{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

#first .middle .container .infos > h1 span{
    color: #FCC106;
}

#first .middle .container button{
    width: 100%;
    margin: 5rem 0 9rem 0;
    padding: 2rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: #0C026B;
    border: 0.2rem solid #FF62E9;
    border-radius: 2rem ;
    cursor: pointer;
}

#first .middle .container .image-arrow{
    width: 100%;
    max-width: 4rem;
    bottom: 0;
}

#blog {
    background-color: #FFF;
}

#blog .container,
#about .container,
#services .container{
    width: 100%;
    max-width: 104rem;
    height: 100%;
    margin: 3rem auto auto auto;
}

#blog .container > h2{
    margin: 5rem 0;
    color: #0C026B;
    font-size: 2.5rem;
    font-weight: 700;
}

#blog .container div.two-articles{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5.6rem;
}

#blog .container div.two-articles .half{
    position: absolute;
    top: 147.4rem;
    right: 23.8rem;
    z-index: 2;
}

#blog .container div.two-articles .circle{
    position: absolute;
    top: 165rem;
    right: 15.4rem;
    z-index: 2;
}

#blog .container div.two-articles .circle-yellow{
    position: absolute;
    top: 126.3rem;
    right: -9.4rem;
    z-index: 2;
}

#blog .container div.two-articles .filling{
    position: absolute;
    width: 24rem;
    height: 34rem;
    top: 147.6rem;
    right: 0rem;
    z-index: 1;
    background-color: #FFF;
}

#blog .container div.four-articles{
    display: flex;
    justify-content: space-between;
}

#blog .container div.two-articles article{
    width: 100%;
    max-width: 18rem;
    margin-right: 11rem;
}

#blog .container article{
    width: 100%;
    max-width: 17rem;
}

#blogs .blogs-main article{
    width: 100%;
    max-width: 22.5rem;
}

#blog .container article h3,
#blogs .blogs-main article h3{
    margin-bottom: 1rem;
    color: #0C026B;
    font-size: 1.8rem;
    font-weight: 700;
}

#blog .container article p,
#blogs .blogs-main article p{
    margin-bottom: 1rem;
    color: rgba(26, 26, 26, 0.6);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.5rem;
}

#blog .container article a,
#blogs .blogs-main article a,
#services .container a{
    color: #FF62E9;
    font-size: 1.4rem;
    font-weight: 400;
}

#about{
    height: 54rem;
    background-color: #F8F8F8;
}

#about .container {
    margin: auto;
}

#about .container > h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #0C026B;
    margin:7rem 0 3rem 0;
}

#about .container > h2 span{
    font-size: 2.5rem;
    font-weight: 700;
    color: #FF62E9;
}

#about .container p{
    width: 100%;
    max-width:47rem;
    margin-top: 2.6rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: rgb(25, 25, 25, 0.6);
}

#services{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60rem;
    margin-top: 100vh;
    background-color: #fff;
}

#services .container .top-row,
#services .container .bottom-row{
    display: flex;
    justify-content: space-between;
}

#services .container .bottom-row{
    margin-top: 5.5rem;
}

#services .container article{
    text-align: center;
    line-height: 2.5rem;
}

#services .container article > figure{
    margin-bottom: 1rem;
}

#services .container article > figure img{
    max-width: 7.2rem;
}

#services .container article h3{
    margin-bottom: 0.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #0C026B;
}

#services .container article p{
    max-width: 22rem;
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(25, 25, 25, 0.6);
}

#contact .top,
#article .top,
#blogs .top{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 23.23rem;
}

#contact header,
#article header,
#blogs header{
    margin: 3rem 0 2rem 0rem;
}

#contact .middle,
#contact .middle,
#blogs .middle{
    height: 23.23rem;
}

#contact .middle .container > h1,
#article .middle .container > h1,
#blogs .middle .container > h1{
    font-size: 2.5rem;
}

#contact aside img,
#article aside img,
#blogs aside img{
    max-height: 23.2rem;
}

#contact .contact-main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 58rem;
    background-color: #FFF;
}

#blogs .blogs-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 108rem;
    height: 25rem;
    margin: 10rem auto 45rem auto;
    background-color: #FFF;
}

#blogs .blogs-main article{
    margin: 2rem 2.25rem;
}


#contact .contact-main form{
    width: 100%;
    max-width: 60rem;
    text-align: center;
}

#contact .contact-main form input,
#contact .contact-main form textarea,
#contact .contact-main form .submit{
    width: 100%;
    max-width: 46.5rem;
    margin: 0.5rem;
    padding: 1rem;
    height: 5rem;
    border: 0.19rem solid #0C026B;
    outline-color: #FF62E9;
    border-radius: 2rem;
}

#contact .contact-main form input:first-child{
    margin-top: 10rem;
}

#contact ::placeholder{
    color: #D1D1D1;
}

#contact .contact-main form textarea{
    height: 100%;
    max-height: 15rem;
}

#contact .contact-main form .submit{
    color: #FFF;
    background-color: #FF62E9;
    border: none;
    outline: none;
}

#article .main-article{
    width: 100%;
    max-width: 89.1rem;
    margin: auto;
    overflow-x: hidden;
}

#article .main-article > img{
    width: 100%;
    margin-top: 5rem;
    max-height: 46rem;
}

#article .main-article > h2{
    margin-top: 3.5rem;
    font-size: 3.2rem;
    font-weight: 700;
    color: #0C026B;
}

#article .main-article .infos-articles{
   margin: 0.5rem 0 5rem 0;
}

#article .main-article .infos-articles span{
   margin-right: 3.5rem;
   font-size: 1.4rem;
   color: rgba(25, 25, 25, 0.6);
}

#article .main-article .infos-articles img{
   max-width:  2rem;
   margin-bottom: -0.5rem;
}

#article .main-article .full-text {
    margin-bottom:  7.4rem;
    font-size: 1.6rem;
    color:rgb(25, 25, 25, 0.6);
}

#article .main-article .full-text blockquote{
    border-left: 0.7rem solid #FF62E9;
    border-left-color: #FF62E9 !important;
}

#article .main-article .full-text ul{
    padding-inline-start: 4rem;
}

@media (min-width: 1440px) {
    #first {
        max-width: 93%;
    }

    #blog .container div.two-articles .circle-yellow {
        top: 124rem;
        right: 1rem;
    }

    #blog .container div.two-articles .half {
        top: 145.1rem;
        right: 33.7rem;
    }

    #blog .container div.two-articles .circle {
        top: 162rem;
        right: 25.4rem;
    }

    #blog .container div.two-articles .filling {
        width: 45rem;
    }
}

@media (max-width: 1042px){
    header ul li:first-child {
        margin-left: 3rem;
    }

    #first .middle .container .infos > h1,
    #contact .middle .container > h1,
    #article .middle .container > h1,
    #blogs .middle .container > h1{
        font-size: 3.5rem;
    }

    #first .middle .container button {
        max-width: 36rem;
        margin: 5rem 0 15rem 0;
    }

    #about .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #blog .container{
        padding-left: 2rem;
    }

    #blog .container div.two-articles .circle-yellow,
    #blog .container div.two-articles .half,
    #blog .container div.two-articles .filling {
        display: none;
    }

    #blog .container div.two-articles .circle {
        position: absolute;
        top: 189rem;
        right: 15.4rem;
        z-index: 2;
    }

}

@media (max-width: 890px){

    #article .main-article {
        max-width: 60.1rem;
        text-align: center;
    }

    #article .main-article .infos-articles {
        margin: 0.5rem 0 5rem 2rem;
    }

    #article .main-article .infos-articles span {
        margin-right: 2.5rem;
    }
}

@media (max-width: 810px){
    #blog .container div.two-articles .circle {
        position: absolute;
        top: 189rem;
        right: 5.4rem;
        z-index: 2;
    }

    #services {
        height: 62rem;
    }

    #article .main-article {
        max-width: 50.1rem;
        text-align: center;
    }

    #article .main-article .infos-articles {
        margin: 0.5rem 0 5rem 2rem;
    }

    #article .main-article .infos-articles span {
        margin-right: 2.5rem;
    }
}


@media (max-width: 785px){
    #services {
        height: 100rem;
    }

    #services .container .top-row,
    #services .container .bottom-row {
        max-width:  46.7rem;
        margin: auto;
        flex-wrap: wrap; 
    }

    #blog {
        height: 77rem;
    }

    #blog .container .two-articles,
    #blog .container .four-articles {
        max-width:  40rem;
        margin: auto;
        flex-wrap: wrap; 
    }
    
    #blog .container div.two-articles {
        justify-content: space-between;
    }

    #blog .container div.two-articles article {
        margin-right: 0rem;
    }

    #blog .container div.two-articles article,
    #blog .container .four-articles article{
        margin-bottom: 1rem;
    }

    #blog .container div.two-articles .circle {
       display: none;
    }   

    #article .main-article {
        max-width: 41.1rem;
        text-align: center;
    }

    #article .main-article .infos-articles {
        margin: 0.5rem 0 5rem 2rem;
    }

    #article .main-article .infos-articles span {
        margin-right: 2.5rem;
    }
}

@media (max-width: 473px){
    #first .middle .container .infos > h1{
        font-size: 2.5rem;
    }

    #first .middle {
        padding-left: 1.5rem;
        margin-left: 1.2rem;
    }

    #first .middle .container button {
        max-width: 36rem;
        margin: 5rem 0 15rem -1.5rem;
    }

    #services {
        height: 205rem;
    }
    
    #services .container {
        margin: 2rem auto;
    }

    #services .container .top-row,
    #services .container .bottom-row {
        max-width:  21.7rem;
    }

    #services .container article {
        margin-bottom: 2rem;
    }

    #about {
        height: 61rem;
    }

    #about .container p {
        max-width: 33rem;
    }

    #blog .container{
        padding-left: 0rem;
    }

    #about .container p{
        text-align: center;
        text-justify: justify;
    }

    #blog {
        height: 138rem;
    }

    #blog .container .two-articles,
    #blog .container .four-articles {
        max-width:  17rem;
        margin: auto;
        flex-wrap: wrap; 
    }

    #blog .container div.two-articles{
        margin-bottom: 2rem;
    }

    #blog .container div.two-articles article,
    #blog .container .four-articles article{
        margin-bottom: 4rem;
        text-align: center;
    }

    #blog .container > h2{
        max-width: 40rem;
        text-align: center;
    }

    header {
        padding: 0rem 6rem;
    }

    header #mobile{
        display: block;
    }

    header #menu{
        display: none;
    }

    header .icon-mobile {
        display: block;
        max-width: 4rem;
        margin-left: 13rem;
        cursor: pointer;
    }

    header #mobile #submenu{
        flex-direction: column;
        position: absolute;
        top: 11rem;
        right: 11rem;
        width:11rem;
        font-size: 1.5rem;
        background-color: #fff;
        border-radius: 1rem;
    }

    header #mobile #submenu a{
        padding: 1rem;
        color: #0C026B;
        text-decoration: none;
        border-bottom: 0.1rem solid #D1D1D1;
    }

    header #mobile #submenu a:last-child{
        border-bottom: none;
    }

    header #mobile #submenu a:hover{
        color: #FF62E9;
    }

    #article aside,
    #contact aside,
    #blogs aside{
        display: none;
    }

    #article .middle{
        margin-left: 0.55rem;
        padding: 0 2rem;
    }

    #contact,
    #blogs{
        max-width: 100%;
    }

    #contact .middle,
    #blogs .middle{
        width: 39.6rem;
        margin-left: 0rem;
        padding: 0px 3rem;
    }

    #contact .contact-main{
        max-width: 100rem;
    }

    #contact .contact-main form{
        margin: 0 auto;
        max-width: 30rem;
    }

    #article .main-article {
        max-width: 34.1rem;
        text-align: center;
    }

    #article .main-article .infos-articles {
        margin: 0.5rem 0 5rem 2rem;
    }

    #article .main-article .infos-articles span {
        margin-right: 2.5rem;
    }

    #blogs .blogs-main {
        justify-content: center;
        max-width: 21rem;
        margin: 10rem auto 45rem auto;
    }

    #footer .social .icons{
        margin-left: 1rem;
    }
}
