*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    overflow-x: hidden;
    margin: auto;
}

header{
    margin: 5rem 0 10rem 2rem;
}

header img{
    max-width: 8rem;
}

header,
header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header ul li{
    margin-right: 3rem;
    text-align: center;
}

header ul li:hover{
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #FF62E9;
}

header ul li:first-child{
    margin-left: 5rem;
}

header ul li a{
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    color: #FFF;
}

#blog,
#about,
#first{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60rem;
}

#first{
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: -1;
}

#first aside img:first-child {
    max-height: 100vh;
    margin-left: -0.5rem;
}

#first aside img:last-child {
    max-height: 100vh;
    margin-right: -1rem;
}

#first .middle{
    width: 100%;
    height: 100%;
    max-width: 100.5rem;
    margin-left: 0.82rem;
    margin-right: 0.55rem;
    padding-left: 1rem;
    background-color: #0C026B;
    z-index: 1;
}

#first .middle .container{
    width: 100%;
    max-width: 41rem;
    margin: auto;
    text-align: center;
}

#first .middle .container .infos > h1{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

#first .middle .container .infos > h1 span{
    color: #FCC106;
}

#first .middle .container button{
    width: 100%;
    margin: 5rem 0 14rem 0;
    padding: 2rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: #0C026B;
    border: 0.2rem solid #FF62E9;
    border-radius: 2rem ;
}

#first .middle .container img{
    width: 100%;
    max-width: 4rem;
    bottom: 0;
}

#blog {
    background-color: #FFF;
}

#blog .container,
#about .container,
#services .container{
    width: 100%;
    max-width: 104rem;
    height: 100%;
    margin: 3rem auto auto auto;
}

#blog .container > h2{
    margin: 5rem 0;
    color: #0C026B;
    font-size: 2.5rem;
    font-weight: 700;
}

#blog .container div.two-articles{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5.6rem;
}

#blog .container div.two-articles .half{
    position: absolute;
    top: 147.4rem;
    right: 23.8rem;
    z-index: 2;
}

#blog .container div.two-articles .circle{
    position: absolute;
    top: 165rem;
    right: 15.4rem;
    z-index: 2;
}

#blog .container div.two-articles .circle-yellow{
    position: absolute;
    top: 126.3rem;
    right: -9.4rem;
    z-index: 2;
}

#blog .container div.two-articles .filling{
    position: absolute;
    width: 24rem;
    height: 34rem;
    top: 147.6rem;
    right: 0rem;
    z-index: 1;
    background-color: #FFF;
}

#blog .container div.four-articles{
    display: flex;
    justify-content: space-between;
}

#blog .container div.two-articles article{
    width: 100%;
    max-width: 18rem;
    margin-right: 11rem;
}

#blog .container article{
    width: 100%;
    max-width: 17rem;
}

#blog .container article h3{
    margin-bottom: 1rem;
    color: #0C026B;
    font-size: 1.8rem;
    font-weight: 700;
}

#blog .container article p{
    margin-bottom: 1rem;
    color: #191919;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.5rem;
}

#blog .container article a{
    color: #FF62E9;
    font-size: 1.4rem;
    font-weight: 400;
}

#about{
    height: 54rem;
    background-color: #F8F8F8;
}

#about .container {
    margin: auto;
}

#about .container > h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #0C026B;
    margin:7rem 0 3rem 0;
}

#about .container > h2 span{
    font-size: 2.5rem;
    font-weight: 700;
    color: #FF62E9;
}

#about .container p{
    width: 100%;
    max-width:47rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: #191919;
}

#about .container p:nth-child(3),
#about .container p:nth-child(4),
#about .container p:nth-child(5){
    margin-top: 2.6rem;
}

#about .container p:nth-child(5){
    margin-top: 2.6rem;
    font-weight: 700;
    color: #0C026B;
}

#about .container p:nth-child(6){
    font-size: 1.6rem;
    font-weight: 700;
    color: #FF62E9;
}

#services{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60rem;
    margin-top: 100vh;
    background-color: #fff;
}

#services .container .top-row,
#services .container .bottom-row{
    display: flex;
    justify-content: space-between;
}

#services .container .bottom-row{
    margin-top: 5.5rem;
}

#services .container article{
    text-align: center;
    line-height: 2.5rem;
}

#services .container article > figure{
    margin-bottom: 1rem;
}

#services .container article > figure img{
    max-width: 7.2rem;
}

#services .container article h3{
    margin-bottom: 0.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #0C026B;
}

#services .container article p{
    max-width: 22rem;
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #191919;
}